include *.rst
include *.txt
include *.py
include buildout.cfg
include tox.ini
include .coveragerc

recursive-include src *.css
recursive-include src *.pt
recursive-include src *.txt
recursive-include src *.zcml
